<div class="container">
	<h1>My Safe Places</h1>
	<ul class="list-inline">
		<% @safe_places.each do |safe_place| %>
			<li><%= safe_place.name %></li>
		<% end %>
	</ul>
 <div class="btn btn-info ml-1 mt-1"> <%= link_to 'Add Safe Place', new_address_path, :class => "btn" %></div>
</div>
