<div class="container mt-3">
	<h3>My Safe Places</h3><hr>
	<ul class="list-inline">
		<% @safe_places.each do |safe_place| %>
			<li><%= link_to safe_place_path(safe_place) do %>
      <%= safe_place.name %>
				<% end %><hr>
      </li>
		<% end %>
	</ul>
 <div class="btn button-oval ml-1 mt-1"> <%= link_to 'Add Safe Place', new_address_path, :class => "btn" %></div>
</div>
