
<div class="container">
  <div class="row justify-content-center">
			<%= simple_form_for [@safe_place] do |f| %>
				<%= f.input :name %>
				<%= f.submit class: 'btn btn-info' %>
    </div>
			<% end %>
  </div>
</div>
