// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$ming: #15616D;
$cambridge-blue: #92BFB1;
$rosy-brown: #BA8F95;
$sandy-brown: #F2994A;
$auburn: #A22C29;
$light-yellow: #F5EEDC;
$rosy-brown-dark: #a06971;
$pink: rgba(214, 36, 143, 0.6);
