// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-gray: #313030;

$ming: #15616D;
$cambridge-blue: #92BFB1;
$cambridge-blue-light: #92bfb155;
$cambridge-blue-lightest: rgba(26, 95, 105, 0.101);
$rosy-brown: #BA8F95;
$rosy-brown-light: #ba8f9528;
$rosy-brown-lightest: #ba8f9503;
$sandy-brown: #F2994A;
$auburn: #A22C29;
$auburn-light: #a22b2918;
$light-yellow: #F5EEDC;
$rosy-brown-dark: #a06971;
$pink: rgb(214, 36, 143);
$light-pink: rgba(214, 36, 143, 0.132);
$blue-gray-light: #E5E5E5;
$grey-transparent: #3130304a;
