// Specific CSS for your home-page

// the background map image
.jumbotron {
  background-image: url("berlin-placeholder.png");
  opacity: 0.7;
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px #5e5e5e55;
  border-radius: 1%;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-bottom: 5em;
}

// the shape and placement of the start journey button
.journey {
  width: 150px;
  height: 150px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #92bfb155;
  text-transform: uppercase;
}

// this is the font color of the start journey button
.btn {
  color: #F5EEDC;
}

.buddies-list-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: auto;
}

.buddy-icons {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 4px;
  padding: 5px;
}

.avatar {
  object-fit: cover;
  width: 50px;
  height: 50px;
}

a {
  text-decoration: none;
  color: $dark-gray;
}

// .button {
//   display: inline-block;
//   padding: .75rem 1.25rem;
//   border-radius: 10rem;
//   color: #fff;
//   text-transform: uppercase;
//   font-size: 1rem;
//   letter-spacing: .15rem;
//   transition: all .3s;
//   position: relative;
//   overflow: hidden;
//   z-index: 1;

.header {
  margin: auto;
}

h3 {
  font-size: 22px;
}

.form-control {
  // background-color: #ba8f9528;
  background-color: rgba(26, 95, 105, 0.101);
}

.buddy-profile {
  padding: 2em;
  border-width: 1px;
  border-color: #3130304a;
  border-radius: 5%;
  border-style: solid;
  margin-bottom: 3%;
}

.yellow {
  color: #F5EEDC !important;
}

.profile-buttons {
  width: 800px;
  margin-bottom: 200px;
}

// .profile-details {

// }

.journeys-list {
  padding: 2em;
  border-width: 1px;
  border-color: #3130304a;
  border-radius: 5%;
  border-style: solid;
  margin-bottom: 3%;
}

.each-journey {
  border-top: solid;
  border-color: #3130304a;
  padding: 20px;
  line-height: 1.2;
}

li {
  list-style-type:none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-decoration: underline #3130304a;
}

.starting-point {
  margin: 1em;
}

.starting-point-buddy {
  margin: 1em;
}
