// Specific CSS for your home-page

// the background map image
.jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-bottom: 5em;
}

// the shape and placement of the start journey button
.journey {
  width: 150px;
  height: 150px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #92bfb155;
  text-transform: uppercase;
}
// placement of the journey button on top of the mapbox
.button-placement {
  position: relative;
  bottom: 320px;
}

// this is the font color of the start journey button
.btn {
  color: #F5EEDC;
}

// .button-journey-show {
//   margin-bottom: 1em;
// }

.buddies-list-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: auto;
}

.buddy-icons {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 4px;
  padding: 5px;
}

.avatar {
  object-fit: cover;
  width: 50px;
  height: 50px;
}

a {
  text-decoration: none;
  color: $dark-gray;
}

// .button {
//   display: inline-block;
//   padding: .75rem 1.25rem;
//   border-radius: 10rem;
//   color: #fff;
//   text-transform: uppercase;
//   font-size: 1rem;
//   letter-spacing: .15rem;
//   transition: all .3s;
//   position: relative;
//   overflow: hidden;
//   z-index: 1;

.header {
  margin: auto;
}

h3 {
  font-size: 22px;
}

.form-control {
  // background-color: #ba8f9528;
  background-color: rgba(26, 95, 105, 0.101);
}

.buddy-profile {
  padding: 2em;
  border-width: 1px;
  border-color: #3130304a;
  border-radius: 5%;
  border-style: solid;
  margin-bottom: 3%;
}

.yellow {
  color: #F5EEDC !important;
}

.dark-gray {
  color: $dark-gray;
}

.profile-buttons {
  width: 800px;
  margin-bottom: 200px;
}

// .profile-details {

// }

.journeys-list {
  padding: 2em;
  border-width: 1px;
  border-color: #3130304a;
  border-radius: 5%;
  border-style: solid;
  margin-bottom: 3%;
}

.each-journey {
  border-top: solid;
  border-color: #3130304a;
  padding: 20px;
  line-height: 1.2;
}

li {
  list-style-type:none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  // text-decoration: underline #3130304a;
  color:#F5EEDC;
}

.starting-point {
  margin: 1em;
}

.starting-point-buddy {
  margin: 1em;
}

.card {
  background-color: $ming-light;
  width: 360px;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0px 0.3rem 0.3rem rgba(rgba(103, 98, 98, 0.575), 0.5);
  position: relative;
  margin-left: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50%;

}

.centered-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: 40%;
  margin-right: 50%;

}

// .profile-box {
//   display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     overflow: hidden;
//     margin-left: 40%;
//     margin-right: 50%;
// }


.card-description {
  background-color: $ming-light;
}

.im-home-less-bolderder {
  font-weight: bolder;
  color: #313030f1;
}

.relative {
    position: relative;
    top: -143px;
    left: -7px;
}

.large-logo {
  margin-top: 150px;
  margin-bottom: 150px;
}

.large-logo-2 {
  margin-top: 30px;
}

.log-in-details {
  color: $pink;
}


//  @media screen and (max-width: 550px) {
//     .card-trip-infos {
//       display: flex;
//       flex-direction: row;
//       flex-wrap: nowrap;
//       align-content: stretch;
//       justify-content: space-between;
//       align-items: baseline;
//       column-gap: 5px;
//       font-size: small;
//    }
//   }

//   @media screen and (max-width: 550px) {
//     .journey-show {
//       display: flex;
//         flex-direction: column;
//         flex-wrap: nowrap;
//         align-content:center;
//         justify-content:baseline;
//         align-items: baseline;
//         column-gap: 5px;
//         font-size: small;
//     }
//   }
.card-2 {
  background-color: $rosy-brown-light;
  text-align: center;
  width: 300px;
  max-width: 300px;
  max-height: 80px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 0.3rem 0.3rem rgba(rgba(103, 98, 98, 0.575), 0.5);
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
}

.profile-symbols {
  margin-bottom: 10px;
}

.header-spread {
  justify-content: space-between;
}

// .card-3 {
//   width: 300px;
//   max-width: 300px;
//   display: flex;
//   flex-direction: column;
//   overflow: hidden;
//   position: relative;
//   margin-left: 40px;
//   margin-bottom: 50px;
//   margin-right: 50%;
// }

// .profile-margin {
//   margin-top: 10px;
// }

.buddies-index {
  margin-top: 50px;
}

.user-sign-up {
  color: #15616d;
  font-weight: bolder;
}

.skip {
  color: #15616d;
}
