<div class="container-flex mt-3 ml-3 justify-content-around">
    <div class="row mx-3">
        <div class="col-2">
        <%= link_to root_path do %>
			<%= image_tag "Hand.png", width: 50 %>
        <% end %>
        </div>
        <div class="col-6">
        </div>
        <div class="col-2">
                <p>Login/Sign Up</p>
        </div>
    </div>
</div>
