<div class="container-flex mt-3 justify-content-around">
	<div class="row mx-3">
		<div class="col-6">
			<div class="row">
				<%= link_to root_path do %>
					<%= image_tag "Header-logo.png", height: 50 %>
				<% end %>
			</div>
		</div>
		<div class="col-1 header">
			<% unless user_signed_in? %>
				<div class="col-1 d-flex">
					<div class="login">
						<%= link_to new_user_session_path do %>
							<p class="dark-gray">Login&nbsp;</p>
						<% end %>
					</div>
					<div>
						<p> |&nbsp;</p>
					</div>

					<div class="signup">
						<%= link_to new_user_registration_path do %>
							<p>Sign Up</p>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
