<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
  <div class="col-12 text-center">
        <div class="row">
            <div class="col-4">
            <p class="text-left">
              <a href="/safe_places"><button class="btn btn-info">My Safe Spaces</button></a> 
            </div>
            <div class="col-4">
              <a href="/safe_places/new"><button class="btn btn-info">Add Safe Space</button></p></a>
            </div>
            <div class="col-4">
            <p class="text-right">
              <img class="avatar-bordered" src="gudrun.png">
            </p>
            </div>
        </div>
    </div>

  </div>
</div>