<h6>Hi <%= @user.name %>, welcome again!</h6>
<h6>Now let's add your first buddy to notify them each time we are on the move.</h6>


<div class="btn button-oval ml-1 mt-1 card-trip-pricing"><%= link_to "Add Buddy", new_buddy_path, :class => "btn" %></div>
