
<div class="text-end m-3">
		<p>
        
        </p>
</div>
<div class="d-flex justify-content-around align-items-center m-2x">
<%= image_tag "Intro_safe_place.png", height: 250 %>
</div>
<div class="container text-center m-3">
    <h6>Great job, <%= @user.name %> !</h6>
        <h6>You're almost ready to start a journey.</h6>
<h6>Finally, let's add a location where you feel safe.</h6>
</div>
	<div class="d-flex flex-row-reverse m-3">
        <div class="btn button-oval ml-1 mt-1 card-trip-pricing"><%= link_to "Add a Safe Place", new_address_path, :class => "btn" %></div>
	</div>
</div>
