<div class="d-flex flex-column align-items-center">
  <%= image_tag "Intro_buddies.png", height: 250 %>
  <div class="container text-center">
  <h5>Create a list of buddies who can accompany you on your journey.</h5>
  </div>
  <div class="btn button-oval ml-1 mt-1 card-trip-pricing"><%= link_to "->", new_user_registration_path, :class => "btn" %></div>
  </div>
</div>
