<div class="container-fluid">
    <div class="col-12">
        <h1>My Trusted Contacts</h1>
        <div class="row">
        <div class="col-1">
            <a href="#"><%= image_tag "person-icon.png" %></a>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="jumbotron">
            <%# <img src="app/assets/images/berlin-placeholder.png"> %>
            <%= image_tag "berlin-placeholder.png" %>
        </div>
    </div
    <div class="col-12 text-center">
        <div class="row">
            <div class="col-2">
            <p class="text-left">link</p>
            </div>
            <div class="col-8">
            <p class="text-center">blank space</p>
            </div>
            <div class="col-2">
            <p class="text-right">avatar</p>
            </div>
        </div>
    </div>
</div>
