<div class="d-flex flex-column align-items-center">
 <%= link_to landing_path do %>
                <p class="dark-gray">Log in</p>
            <% end %>
<div class="btn button-oval ml-1 mt-1 card-trip-pricing"><%= link_to "Let's go", welcome_path, :class => "btn" %></div>
</div>
