
<div class="container">
  <%= link_to new_user_registration_path do %>
							<p class="dark-gray">Skip</p>
					<% end %>
</div>
<div class="container text-center">
<h5>Create a list of your most frequently visited places and start a journey.</h5>
</div>
<div class="btn button-oval ml-1 mt-1 card-trip-pricing"><%= link_to "->", buddy_intro_path, :class => "btn" %></div>
