
<div class="container">
  <%= link_to new_user_registration_path do %>
							<p class="dark-gray">Skip</p>
					<% end %>
</div>
<div class="container text-center">
<h5>Welcome to <strong>I'm Home</strong>.</h5>
<p>We endeavor to keep you safe</p>
</div>
<div class="btn button-oval ml-1 mt-1 card-trip-pricing"><%= link_to "->", safe_places_intro_path, :class => "btn" %></div>
