<% @journeys.each do |journey| %>
          <strong><li> <%= journey.user.address.starting_point %> </li></strong>
          <strong><li> <%= journey.user.address.destination %> </li></strong>
        </div><br><br>
