<h4>Your past journeys</h4>

<% @journeys.each do |journey| %>
         <%  starting_point = Address.find_or_create_by(id: journey.starting_point)  %>
          <p><%=  starting_point.address_line1 %></p>
          <p><%=  starting_point.address_line2 %></p>
          <p><%=  starting_point.postcode %>
            <%=  starting_point.city %></p>
          <% end %>
