<h4>Your past journeys</h4>

<% @journeys.each do |journey| %>
          <li> From: <%= journey.starting_point %> </li>
          <li> To: <%= journey.destination %> </li>
          <li> By: <%= journey.mode_of_transportation %> </li>
          <% end %>
